.custom-project-subheading {
    width: 80%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .custom-project-font {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    .custom-project-subheading {
        height: 50vh;
    }

    :root.custom-mobile {
        width: 80%;
        flex-direction: column !important;
        justify-content: center !important;
    }
}

.custom-box {
    width: 70% !important;
}