.custom-project-subheading {
    width: 80%;
    display: flex;
    justify-content: center;
}

.custom-height {
    height: 580px;
    margin: .5rem;
}
.custom-short-card-height{
    height: 300px;
}

@media (max-width: 768px) {
    .custom-project-font {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    .custom-project-subheading {
        height: 50vh;
    }

    .custom-mobile {
        flex-direction: column !important;
        justify-content: center !important;
    }
}

.custom-box {
    flex-direction: row;
    justify-content: space-evenly;
    width: 70% !important;
}