.custom-skills-height {
    height: 425rem;
}

@media (min-width: 524px) {
    .custom-skills-height {
        height: 270rem;
    }
}
@media (min-width: 690px) {
    .custom-skills-height {
        height: 200rem;
    }
}
@media (min-width: 854px) {
    .custom-skills-height {
        height: 190rem;
    }
}

@media (min-width: 1020px) {
    .custom-skills-height {
        height: 160rem;
    }
}