@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    @layer base {
      @font-face {
          font-family: "outfit";
          src: url('../../public/fonts/Outfit-Regular.ttf');
          font-style: regular;
          font-weight: 400;
      }
  
      @font-face {
          font-family: "outfit";
          src: url('../../public/fonts/Outfit-Light.ttf');
          font-style: light;
          font-weight: 300;
      }
  
      @font-face {
          font-family: "outfit";
          src: url('../../public/fonts/Outfit-Bold.ttf');
          font-style: bold;
          font-weight: 700;
      }
  
      @font-face {
          font-family: "source-sans";
          src: url('../../public/fonts/SourceSans3-Regular.ttf');
          font-style: regular;
          font-weight: 400;
      }
  }
  }
}